.mydiv {
	background-color: #CCCCCC;
	border: 1px solid #333333;
	padding: 10px;
	margin-bottom: 10px;
    color: #ea0909;
}

.bold {
	font-weight: bold;
}

.fancy {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.italic {
	font-style: italic;
}